<!-- Control Sidebar -->

<aside class="control-sidebar control-sidebar-dark" style=" display: block;">
	<form action="{{path('app_settings')}}" method="post">
		<div class="p-3 control-sidebar-content" style="height: 100%;">
			<h5>Paramètres</h5><hr class="mb-2">
			<div class="mb-4">
				<h6>Montants</h6>
				<div class="row">
					<div class="col ml-3">
						<span>Inscription</span>
					</div>
					<div class="col">
						<input class="ml-2 " type="number" min=0 value="1" checked="checked" class="" name="themePrincipal">
					</div>
				</div>
				<h6>Couleur</h6>
				<div class="row">
					<div class="col ml-3">
						<span>Thème</span>
					</div>
					<div class="col">
						<input class="ml-2" type="color" value="1" checked="checked" class="" name="themePrincipal">
					</div>
				</div>
				<div class="row">
					<div class="col ml-3">
						<span>Arrière plan</span>
					</div>
					<div class="col">
						<input class="ml-2" type="color" value="1" checked="checked" class="">
					</div>
				</div>
				<div class="row">
					<div class="col ml-3">
						<span>Navbar</span>
					</div>
					<div class="col">
						<input class="ml-2" type="color" value="1" checked="checked" class="">
					</div>
				</div>
				<div class="row">
					<div class="col ml-3">
						<span>Sidebar</span>
					</div>
					<div class="col">
						<input class="ml-2" type="color" value="1" checked="checked" class="">
					</div>
				</div>
				<div class="row">
					<div class="col ml-3">
						<span>Sidebar Text</span>
					</div>
					<div class="col">
						<input class="ml-2" type="color" value="1" checked="checked" class="">
					</div>
				</div>
				<div class="row">
					<div class="col ml-3">
						<span>Titres</span>
					</div>
					<div class="col">
						<input class="ml-2" type="color" value="1" checked="checked" class="">
					</div>
				</div>
			</div>

		</div>
		<div class="d-grid col-6 mx-auto">
			<button type="submit" class="btn btn-success">Valider</button>
		</div>
	</form>
</aside>
