<h1>Salut! Veuillez confirmer votre adresse email!</h1>

<p>
	Cliquez sur ce lien pour confirmer votre adresse email:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
		Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Merci!
</p>
